<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap"
    rel="stylesheet" />
  <!-- css -->
  <link rel="stylesheet" href="css/style.css" />
  <title>Challange 1</title>
</head>

<body style="position: relative;">
  <!-- Hero -->
  
<div class="container mt-5">
    <div class="min-vh-100">
        <h3>Wellcome</h3>
    
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUser">
            Add User
          </button>
    
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Birth place</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% users.forEach((user, index) => { %>
              <tr>
                <th scope="row"><%= index+1 %></th>
                <td><%= user.username %></td>
                <td><%= user.user_game_biodatum.first_name %></td>
                <td><%= user.user_game_biodatum.last_name %></td>
                <td><%= user.user_game_biodatum.birthplace %></td>
                <td>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#editUser<%=user.id%>">
                        Update
                    </a>
                    |
                    <a href=<%= `/user/${user.id}/delete` %> onclick="return confirm('Hapus data '+user.username +'?')">Delete</a>        
                </td>
                <div class="modal fade" id="editUser<%=user.id%>" tabindex="-1" aria-labelledby="editUser<%=user.id%>Label" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editUser<%=user.id%>Label">Edit User </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" name="form" action="/user/<%=user.id%>/edit">
                                <div class="mb-3">
                                  <label for="username" class="form-label">USERNAME</label>
                                  <input type="text" value="<%= user.username %>" name="username" required class="form-control" id="username">
                                </div>
                                <div class="mb-3">
                                  <label for="first_name" class="form-label">First Name</label>
                                  <input type="text" name="first_name" required value="<%= user.user_game_biodatum.first_name %>" id="first_name" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="last_name" class="form-label">Last Name</label>
                                    <input type="text" name="last_name" required value="<%= user.user_game_biodatum.last_name %>"id="last_name" class="form-control">
                                  </div>
                                  <div class="mb-3">
                                    <label for="birthplace" class="form-label">Birth Place</label>
                                    <input type="text" name="birthplace" required value="<%= user.user_game_biodatum.birthplace %>" id="birthplace" class="form-control">
                                  </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                      </div>
                    </div>
                  </div>
              </tr>
              <% }) %>
            </tbody>
          </table>
        
        </div>
</div>

  <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserLabel">Add User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" name="form" action="/user">
                <div class="mb-3">
                  <label for="username" class="form-label">USERNAME</label>
                  <input type="text" name="username" required class="form-control" id="username">
                </div>
                <div class="mb-3">
                  <label for="first_name" class="form-label">First Name</label>
                  <input type="text" name="first_name" required id="first_name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" name="last_name" required id="last_name" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label for="birthplace" class="form-label">Birth Place</label>
                    <input type="text" name="birthplace" required id="birthplace" class="form-control">
                  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="/assets/js/login.js"></script>


  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>