<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap"
    rel="stylesheet" />
  <!-- css -->
  <link rel="stylesheet" href="css/style.css" />
  <title>Challange 1</title>
</head>

<body style="position: relative;">
  <!-- Navbar -->
  <div id="navbar" class="py-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            /* identical to box height */
            
            letter-spacing: 0.1em;
            text-transform: uppercase;
            
            color: #FFFFFF;
            ">
          LOGO
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left: 150px;">
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">Home</a></li>
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">Features</a></li>
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">Pricing</a></li>
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">FAQs</a></li>
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">About</a></li>
        </ul>

        <div class="text-end nav mr-5">
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">SIGN UP</a></li>
          <li>
            <div id="usernameDisplay" class="nav-link px-4 text-white text-uppercase d-none">NAMA</div>
            <div class="navItem">
              <a href="/login" class="nav-link px-4 text-white text-uppercase"  class="btn btn-secondary">Login</a>
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="" id="overlay"></div> -->
  <!-- Hero -->
  <div class="text-center border-bottom" id="hero" style="background-image: url(img/hero.svg)">
    <h1 class="display-4 fw-bold" style="
          font-family: Arial, Helvetica, sans-serif;
          padding-top: 223px;
          color: #ffffff;
        ">
      Play traditional game game
    </h1>
    <div class="col-lg-6 mx-auto">
      <h3 class="lead mb-4" style="padding-top: 57px">
        Experience new traditional game play
      </h3>
      <a href="/play" style="z-index: 9999;">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" style="padding-top: 57px">
          <button type="button" class="btn btn-warning btn-lg px-5" style="color: #1A1917;font-family: 'Open Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          text-align: center;background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
border-radius: 4px;">
            PLAY NOW
          </button>
      </a>
    </div>
  </div>
  </div>

  <!-- Games -->
  <div id="games" style="background-image: url(img/games.svg)">
    <div class="container">
      <div class="row">
        <div class="col-4" style="
              padding-top: 254px;
              color: #ffffff;
              font-family: Arial, Helvetica, sans-serif;
            ">
          <p style="font-size: 24px">What’s so special?</p>
          <h3 style="font-size: 56px; padding-top: 14px">THE GAMES</h3>
        </div>
        <div class="col" style="padding-top: 292px">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/games-1.svg" class="d-block w-100" alt="..." />
              </div>
              <div class="carousel-item">
                <img src="img/games-1.svg" class="d-block w-100" alt="..." />
              </div>
              <div class="carousel-item">
                <img src="img/games-1.svg" class="d-block w-100" alt="..." />
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Features -->
  <div id="features" style="
        background-image: url(img/features.svg);
        min-height: 960px;
        margin-top: -10px;
      ">
    <div class="container">
      <div class="row">
        <div class="col-5 offset-7" style="padding-top: 170px">
          <p style="color: #ffffff; font-size: 24px">What’s so special?</p>
          <h3 style="color: #ffffff; font-size: 56px; margin-top: -30px">
            FEATURES
          </h3>
          <ul class="mt-5" style="padding-top: 71px">
            <li>
              <h3>TRADTIONAL GAMES</h3>
              <p class="pb-5">
                If you miss your childhood, we provide many traditional games
                here
              </p>
              <hr
                style="transform: rotate(90deg); color: white; width: 150px; margin-left: -88px; margin-top: -60px; position: absolute;">
            </li>
            <li style="list-style-type: circle">
              <h3>GAME SUIT</h3>
            </li>
            <li class="pt-5" style="list-style-type: circle">
              <h3>TBD</h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- System -->
  <div id="system" class="system pb-5" style="background-image: url(img/system.svg)">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="system-title text-center">
            Can My Computer Run this game?
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-7">
          <h1>
            SYSTEM <br />
            REQUIREMENTS
          </h1>
          <table style="margin-top: 90px">
            <tr>
              <td>
                <h3 style="padding-left: 20px; padding-top: 15px">OS:</h3>
                <p style="padding-left: 20px">
                  Windows 7 64-bit only (No OSX support at this time)
                </p>
              </td>
              <td>
                <h3 style="padding-left: 20px; padding-top: 15px">
                  PROCESSOR:
                </h3>
                <p style="padding-left: 20px">
                  Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <h3 style="padding-left: 10px; padding-top: 15px">mEMORY:</h3>
                <p style="padding-left: 10px">4 GB RAM</p>
              </td>
              <td>
                <h3 style="padding-left: 10px; padding-top: 15px">
                  storage:
                </h3>
                <p style="padding-left: 10px">8 GB available space</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <h3 style="padding-left: 10px; padding-top: 15px">
                  GRAPHICS:
                </h3>
                <p style="padding-left: 10px">
                  NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB
                  DirectX11 (Shader Model 5)
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Top Score -->
  <div id="top-score" class="top-score" style="background-image: url(img/top-score.svg); min-height: 960.16px">
    <div class="container">
      <div class="row">
        <div class="col-5" style="margin-top: 340px">
          <h1>TOP SCORES</h1>
          <p style="margin-top: 40px; color: #ffffff">
            This top score from various games provided <br />
            on this platform
          </p>
          <a href="/" class="btn btn-warning px-5 py-2 see-more"
            style="margin-top: 40px; background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%); border-radius: 4px;">see
            more</a>
        </div>
        <div class="col-7">
          <div class="row">
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Cover -->
  <div class="" style="
        background-image: url(img/subscribe.svg);
        margin-top: -960.16px;
        min-height: 960.16px;
      "></div>
  <!-- Subscribe -->
  <div id="subscribe" class="subscribe" style="background-color: #080a0b; min-height: 959.87px; margin-top: -10px">
    <div class="container">
      <div class="row">
        <div class="col-4 lampu">
          <img src="img/lampu.svg" alt="" />
        </div>
        <div class="col-6 detail">
          <h3 class="title-subscribe">
            Want to stay in <br />
            touch?
          </h3>
          <h4 class="sub-title">
            newsletter <br />
            SUBSCRIBE
          </h4>
          <p class="description pb-5">
            In order to start receiving our news, all you have to do is enter
            your email address. Everything else will be taken care of by us.
            We will send you emails containing information about game. We
            don’t spam.
          </p>

          <form class="form-floating d-flex">
            <input type="email" class="form-control" id="floatingInputValue" size="1"
              placeholder="youremail@binar.co,id" value="youremail@binar.co,id" style="
                  background-color: rgba(255, 255, 255, 0.08);
                  color: #ffb548;
                  border: none;
                " />
            <label for="floatingInputValue" style="color: #ffff">Your email address</label>
            <button class="btn d-flex align-items-center" style="
                  margin-left: 15px;
                  padding: 0 40px;
                  font-family: 'Open Sans';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  text-align: center;
                  text-transform: capitalize;
                  color: #1a1917;
                  border-radius: 4px;
                  background-image: linear-gradient(
                    194.68deg,
                    #ffb548 11.27%,
                    #f3af34 90.4%
                  );
                ">
              <span>Subscribe</span> <span>now</span>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="container d-flex justify-content-end" style="padding-top: 60px">
      <div class="d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav d-flex justify-content-between">
                <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" href="#">MAIN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">GAME FEATURES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase text-white">System requirements</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase text-white">quotes</a>
                </li>
                <li>
                  <a href="" class="nav-link" style="padding-left: 70px;">
                    <img src="img/facebook.svg" width="9px" alt="">
                  </a>
                </li>
                <li>
                  <a href="" class="nav-link" style="padding-left: 50px;">
                    <img src="img/nav-twit.svg" width="16px" alt="">
                  </a>
                </li>
                <li>
                  <a href="" class="nav-link" style="padding-left: 50px;">
                    <img src="img/youtube.svg" width="16px" alt="">
                  </a>
                </li>
                <li>
                  <a href="" class="nav-link" style="padding-left: 50px;">
                    <img src="img/twitch.svg" width="16px" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <!-- <div class="d-flex justify-content-between">
          
        </div> -->
    </div>

    <div class="container">
      <hr class="garis" />

      <div class="d-flex">
        <div class="me-auto copyright">
          <p>© 2018 Your Games, Inc. All Rights Reserved</p>
        </div>
        <div class="ms-auto justify-content-end policy" style="padding-right: 0;">
          <p>Privacy Policy | Terms of Services | Code of Conduct</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <!-- <script src="assets/js/login.js"></script> -->


  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>